{% extends '_base.html' %}

{% block title %}All authors{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>All Authors</h1>
        <hr>
        <div class="row justify-content-center"> 
            {% url 'create_author' as create_author %}
            <a href="{{ create_author }}" class="nav-link {% if request.path == create_author %}active{% endif %}">
                Create Author
            </a>
        </div>
        <div class="row justify-content-center">
            {% for author in authors %}
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.name }} {{ author.surname }} {{author.patronymic }} </h5>
                        <a href="{% url 'author_detail' author.id %}" class="btn btn-outline-primary">See more</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}