{% extends '_base.html' %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">{{ book.name }}</h1>
            <p class="lead fw-normal text-muted">{{ book.description }}</p>
        </div>

        <h3>Authors</h3>
        <hr>
        <div class="row justify-content-center">

            {% for author in book.authors.all %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.patronymic }}</h5>
                        <p class="card-text text-muted">{{ author.name }} {{ author.surname }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}