{% extends '_base.html' %}

{% block title %}All books{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>All Books</h1>
        <hr>
        <div class="row justify-content-center">
            {% for book in books %}
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{ book.name }}</h3>
                        {% if show_count %}
                            <hr>
                            {% if book.count > 9 %}
                            <h6 class="card-subtitle mb-2">Left in stock <span class="badge bg-primary">{{ book.count }}</span></h6>
                            {% elif book.count > 4 %}
                            <h6 class="card-subtitle mb-2">Left in stock <span class="badge bg-secondary">{{ book.count }}</span></h6>
                            {% else %}
                            <h6 class="card-subtitle mb-2">Left in stock <span class="badge bg-danger">{{ book.count }}</span></h6>
                            {% endif %}
                        {% endif %}
                        <p class="card-text text-muted">{{ book.description | truncatewords:10}}</p>
                        <a href="{% url 'book_detail' book.id %}" class="btn btn-outline-primary">See more</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}