{% extends '_base.html' %}

{% block title %}List of Debtors and late-returners{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>List of debtors and late-returners</h1>
        <hr>
        <div class="row justify-content-center">
            {% for user in users %}
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">id: <a href="{% url 'user_books' user.id %}" class="btn btn-outline-primary">{{ user.id }}</a>  </h3>

                        <p class="card-text text-muted">First name: {{ user.first_name}}</p>
                        <p class="card-text text-muted">Last name: {{ user.last_name}}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}