{% extends '_base.html' %}


{% block title %}All orders{% endblock %}

{% block content %}
<style>
table, th, td {
  border: 1px solid black;
}
</style>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-10">
                <span class="h1">All orders</span>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="btn btn-success" href="{% url 'create_order' %}">+ New Order</a>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <table>
                <tr>
                    <th style="text-align:center"> Order ID</th>
                    <th style="text-align:center">User Name</th>
                    <th style="text-align:center">Book name</th>
                    <th style="text-align:center">Created At</th>
                    <th style="text-align:center">End At</th>
                    <th style="text-align:center">Plated End At</th>

                </tr>
                {% for order in orders %}
                    <tr>
                        <td style="text-align:center">{{ order.id }}</td>
                        <td><a href="{% url 'user_books' order.user.id %}" class="link-primary">{{ order.user.first_name }} {{ order.user.last_name }}</a></td>
                        <td><a href="{% url 'book_detail' order.book.id %}" class="link-primary">{{ order.book.name | truncatewords:5 }}</a></td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.end_at }}</td>
                        <td>{{ order.plated_end_at }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}