{% extends '_base.html' %}


{% block title %}Sorted Books{% endblock %}

{% block content %}
<style>
table, th, td {
  border: 1px solid black;
}
</style>

    <div class="container">

        <form action="" class="row mt-3">

            <div class="form-group col-2">

                <label for="param-select">Sort:</label>
                <select class="form-select" name="param" id="param-select">
                    <option value="id" selected="selected">-------</option>
                    <option value="user">By User id</option>
                    <option value="book">By Book id</option>
                    <option value="created_at">By created time</option>
                    <option value="end_at">By end time</option>
                    <option value="plated_end_at">By planned return time</option>
                </select>
            </div>

            <div class="form-group col-2">

                <label for="param-select">Ordering:</label>
                <select class="form-select" name="sorting" id="param-select">
                    <option value="asc" selected="selected">Ascending</option>
                    <option value="dec">Descending</option>
                </select>
            </div>

            <div class="col d-flex align-items-end">
                <button type="submit" class="btn btn-success">Sort</button>
            </div>


        </form>

        <hr>

<div class="row justify-content-center">
            <table>
                <tr>
                    <th style="text-align:center">Order ID</th>
                    <th style="text-align:center">User ID</th>
                    <th style="text-align:center">User Name</th>
                    <th style="text-align:center">Book ID</th>
                    <th style="text-align:center">Book name</th>
                    <th style="text-align:center">Created At</th>
                    <th style="text-align:center">End At</th>
                    <th style="text-align:center">Plated End At</th>

                </tr>
                {% for order in orders %}
                    <tr>
                        <td style="text-align:center">{{ order.id }}</td>
                        <td style="text-align:center">{{ order.user.id }}</td>
                        <td><a href="{% url 'user_books' order.user.id %}" class="link-primary">{{ order.user.first_name }} {{ order.user.last_name }}</a></td>
                        <td style="text-align:center">{{ order.book.id }}</td>
                        <td><a href="{% url 'book_detail' order.book.id %}" class="link-primary">{{ order.book.name | truncatewords:5 }}</a></td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.end_at }}</td>
                        <td>{{ order.plated_end_at }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}