{% extends '_base.html' %}

{% block title %}User Books{% endblock %}
{% block content %}
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal"> User id: {{ user.id }}</h1>
        <p class="lead fw-normal text-muted">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="lead fw-normal text-muted">{{ user.email }}</p>
    </div>
    <div class="text-center">
        <br>
        <h1>User books: </h1>
        <hr>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="row justify-content-center">
            {% for book in books %}
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'book_detail' book.id %}" class="btn btn-outline-primary"> {{ book.pk }}</a></h5>
                        <h5 class="card-title">{{ book.name }}</h5>

                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}